* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 26px;
}

:root {
    --button-color: #467BFF;
}

/* header */
.header-secion {
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px;
}

.list {
    display: flex;
}

.list p {
    font-size: 20px;
    margin-right: 20px;
}

.dashboard {
    background-color: var(--button-color);
    padding: 20px 20px;
    color: white;
    border-radius: 6px;
}

/* body */
.body {
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
}

/* categories */
.categories {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.categories h1 {
    font-size: 40px;
}

.categories select {
    padding: 8px 20px;
    font-size: 18px;
    border: 2px solid #7B7B7B;
    background-color: white;
    border-radius: 10px;
    color: #7B7B7B;
}

.categories button {
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid #7B7B7B;
    color: #7B7B7B;
}

/* trending section */
.trending-section {
    margin-bottom: 150px;
}

.trending-section img {
    width: 100%;
    height: 600px;
    border-radius: 6px;
}

.trending-section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.trending-section p {
    font-size: 20px;
    color: #969696;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-container button {
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #969696;
    color: #969696;
}

.status-blog {
    display: flex;
    align-items: center;
}

.status-blog p {
    font-size: 22px;
    color: black;
}

.status-container img {
    width: 33px;
    height: 33px;
}

/* blog */
.blog-section {
    margin-top: 120px;
}

.blog-content p {
    color: #969696;
}

.blog {
    display: flex;
    justify-content: space-between;
}

.blog button {
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #969696;
    color: #969696;
}

.blog img {
    width: 500px;
    height: 250px;
    border-radius: 6px;
}

.blog .left-blog {
    width: 500px;
}

.left-blog h1 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.left-blog p {
    font-size: 20px;
    text-align: justify;
}

.status-left {
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
}

.status-left img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.comment {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.like {
    display: flex;
    align-items: center;
}

.blog .right-blog {
    width: 500px;
}

.right-blog h1 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.right-blog p {
    font-size: 20px;
    text-align: justify;
}

.status-right {
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
}

.status-right img {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.load {
    display: flex;
    justify-content: center; 
    margin-top: 80px;
}

.load button {
    background-color: var(--button-color);
    padding: 14px 20px;
    border-radius: 6px; 
    font-size: 30px;
    color: white;
    border: none;
}

/* footer */
.footer-section {
    background-color: #2D2D2D;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}

.left-footer {
    width: 520px;
}

.right-footer h1 {
    font-size: 20px;
}

.right-footer img {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    margin-bottom: 20px;
}

.right-footer .subscribe {
    position: relative;
}

.send {
    padding: 10px 20px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 0px 6px 6px 0px;
    font-size: 20px;
    position: absolute;
    right: 0px;
}

.subscribe input {
    padding: 10px 20px;
    color:  #ABABAB ;
    border: none;
    border-radius: 6px 6px 6px 6px;
    width: 300px;
    font-size: 20px;
}