* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

#board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app-container {
    position: relative;
    width: 1280px;
    height: 600px;
    background-color: rgb(0, 75, 121);
    border-radius: 6px;
}

#topbar {
    background-color: rgb(56, 139, 190);
    width: 1140px;
    height: 70px;
    top: 0;
    right: 0;
    position: absolute;
}

#topbar-content {
    display: flex;
    align-items: center;
    height: 85px;
}

#topbar-content .shape {
    background-color: rgb(23, 84, 123);
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.shape p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.opacity {
    background-color: rgb(23, 84, 123);
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.opacity p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#sidebar {
    background-color: rgb(0, 55, 89);
    width: 120px;
    height: 93%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tools {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tools .selection {
    background-color: rgb(23, 84, 123);
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-bottom: 10px;
}

.selection p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
